---
title: "About"
---

Justin Wendlandt is a Senior Software Development Engineer at <a href="https://www.microsoft.com/" target="_blank">Microsoft</a> under a group titled <a href="https://microsoft.github.io/techcasestudies/" target="_blank">Engineering, Engagement and Evangelism</a>. He has been working on a wide variety of <a href="https://github.com/" target="_blank">Open Source</a> and <a href="https://azure.com/" target="_blank">Azure</a> related development in the past year. Focused entirely on how developers build applications on <a href="https://azure.com/" target="_blank">Azure</a>.<br />
<br />
Considered a knowledgable <a href="https://en.wikipedia.org/wiki/Hacker_culture" target="_blank">Hacker</a> and well versed on the following topics.<br />
<ul>
    <li>Azure Platform as a Service</li>
    <li>Azure Serverless</li>
    <li>C#</li>
    <li>.NET Framework</li>
    <li>.NET Core</li>
    <li>Node</li>
    <li>IoT</li>
    <li>Service Fabric</li>
</ul>
You can check out his various work on the following sites<br />
{% for link_hash in site.links %}{% for link in link_hash %}
<a href="{{ link[1].url }}" target="_blank"><i class="fa fa-{{ link[0] }}{% if link[1].square %}-square{% endif %}"></i> - {{ link[0] }}</a><br />
{% endfor %}{% endfor %}
<br />