<h3>Comments</h3>
<form method="POST" action="https://api.staticman.net/v2/entry/{{ site.repouser }}/{{ site.repository }}/{{ site.branch }}/comments">
  <input name="options[redirect]" type="hidden" value="https://idiologos.netlify.com">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <div class="form-field">
    <input name="fields[name]" type="text">
    <label for="fields[name]">Name</label>
  </div>
  <div class="form-field">
    <input name="fields[email]" type="email">
    <label for="fields[email]">E-mail (optional)</label>
  </div>
  <div class="form-field">
    <legend>Message (<a href="https://kramdown.gettalong.org/syntax.html">kramdown</a> markup allowed)</legend>
    <textarea style="width:100%" name="fields[message]" rows="12"></textarea>
  </div>
  <div>
    <legend><em>Comments will appear after moderation.</em></legend>
    <br />
    <button type="submit">Submit Comment</button>
  </div>
</form>

<p>
  <hr />
</p>

{% if site.data.comments[page.slug] %}
  <h3>
    {% if site.data.comments[page.slug].size > 1 %}
      {{ site.data.comments[page.slug] | size }}
    {% endif %}
    Comments:
  </h3>
  <p>
  <hr />

  {% assign comments = site.data.comments[page.slug] | sort %}
  {% for comment in comments %}
    <br />
    <legend><strong>{{ comment[1].name }}</strong><legend>
    <em>{{ comment[1].date | date: "%B %d, %Y" }}</em>
    <p>{{ comment[1].message | markdownify }}
    <hr />
  {% endfor %}
  </p>
{% endif %}