// ==============================
// Override Variables
// 覆盖变量
// ==============================
// Color of the code
$code-color: #d8dee9;
$code-color-dark: #d8dee9;

// Color of the code background
$code-background-color: #2e3440;
$code-background-color-dark: #2e3440;

$code-info-color: #9c9c9c;
$code-info-color-dark: #b1b0b0;

// Font size of the code
$code-font-size: .875rem;

// Font family of the code
$code-font-family: Cascadia Code, Menlo, Consolas, Monaco, monospace;

// Color map of the code highlight
$code-highlight-color-map: (
  /* Parentheses */ 'p': #eceff4,
  /* Keyword */ 'k': #81a1c1,
  /* KeywordConstant */ 'kc': #81a1c1,
  /* KeywordDeclaration */ 'kd': #81a1c1,
  /* KeywordNamespace */ 'kn': #81a1c1,
  /* KeywordPseudo */ 'kp': #81a1c1,
  /* KeywordReserved */ 'kr': #81a1c1,
  /* KeywordType */ 'kt': #81a1c1,
  /* Name */ 'n': #d8dee9,
  /* NameAttribute */ 'na': #8fbcbb,
  /* NameBuiltin */ 'nb': #81a1c1,
  /* NameBuiltinPseudo */ 'bp': #f74840,
  /* NameClass */ 'nc': #8fbcbb,
  /* NameConstant */ 'no': #8fbcbb,
  /* NameDecorator */ 'nd': #d08770,
  /* NameEntity */ 'ni': #d08770,
  /* NameException */ 'ne': #bf616a,
  /* NameFunction */ 'nf': #88c0d0,
  /* NameFunctionMagic */ 'fm': #1ccad6,
  /* NameLabel */ 'nl': #8fbcbb,
  /* NameNamespace */ 'nn': #8fbcbb,
  /* NameOther */ 'nx': #333333,
  /* NameProperty */ 'py': #8fbcbb,
  /* NameTag */ 'nt': #2b77fa,
  /* NameVariable */ 'nv': #2b77fa,
  /* NameVariableClass */ 'vc': #2b77fa,
  /* NameVariableGlobal */ 'vg': #2b77fa,
  /* NameVariableInstance */ 'vi': #2b77fa,
  /* NameVariableMagic */ 'vm': #2b77fa,
  /* Literal */ 'l': #2aa198,
  /* LiteralDate */ 'ld': #2aa198,
  /* LiteralString */ 's': #a3be8c,
  /* LiteralStringAffix */ 'sa': #a3be8c,
  /* LiteralStringBacktick */ 'sb': #a3be8c,
  /* LiteralStringChar */ 'sc': #a3be8c,
  /* LiteralStringDelimiter */ 'dl': #a3be8c,
  /* LiteralStringDoc */ 'sd': #616e87,
  /* LiteralStringDouble */ 's2': #a3be8c,
  /* LiteralStringEscape */ 'se': #ebcb8b,
  /* LiteralStringHeredoc */ 'sh': #a3be8c,
  /* LiteralStringInterpol */ 'si': #a3be8c,
  /* LiteralStringOther */ 'sx': #a3be8c,
  /* LiteralStringRegex */ 'sr': #ebcb8b,
  /* LiteralStringSingle */ 's1': #a3be8c,
  /* LiteralStringSymbol */ 'ss': #a3be8c,
  /* LiteralNumber */ 'm': #b48ead,
  /* LiteralNumberBin */ 'mb': #b48ead,
  /* LiteralNumberFloat */ 'mf': #b48ead,
  /* LiteralNumberHex */ 'mh': #b48ead,
  /* LiteralNumberInteger */ 'mi': #b48ead,
  /* LiteralNumberIntegerLong */ 'il': #b48ead,
  /* LiteralNumberOct */ 'mo': #b48ead,
  /* Operator */ 'o': #81a1c1,
  /* OperatorWord */ 'ow': #81a1c1,
  /* Comment */ 'c': #616e87,
  /* CommentHashbang */ 'ch': #616e87,
  /* CommentMultiline */ 'cm': #616e87,
  /* CommentSingle */ 'c1': #616e87,
  /* CommentSpecial */ 'cs': #616e87,
  /* CommentPreproc */ 'cp': #5e81ac,
  /* CommentPreprocFile */ 'cpf': #5e81ac,
  /* Generic */ 'g': #e72d40,
  /* GenericDeleted */ 'gd': #bf616a,
  /* GenericEmph */ 'ge': #e72d40,
  /* GenericError */ 'gr': #bf616a,
  /* GenericHeading */ 'gh': #88c0d0,
  /* GenericInserted */ 'gi': #a3be8c,
  /* GenericOutput */ 'go': #e72d40,
  /* GenericPrompt */ 'gp': #4c566a,
  /* GenericStrong */ 'gs': #e72d40,
  /* GenericSubheading */ 'gu': #88c0d0,
  /* GenericTraceback */ 'gt': #bf616a,
  /* TextWhitespace */ 'w': #bbbbbb,
);
$code-highlight-color-map-dark: (
  /* Parentheses */ 'p': #eceff4,
  /* Keyword */ 'k': #81a1c1,
  /* KeywordConstant */ 'kc': #81a1c1,
  /* KeywordDeclaration */ 'kd': #81a1c1,
  /* KeywordNamespace */ 'kn': #81a1c1,
  /* KeywordPseudo */ 'kp': #81a1c1,
  /* KeywordReserved */ 'kr': #81a1c1,
  /* KeywordType */ 'kt': #81a1c1,
  /* Name */ 'n': #d8dee9,
  /* NameAttribute */ 'na': #8fbcbb,
  /* NameBuiltin */ 'nb': #81a1c1,
  /* NameBuiltinPseudo */ 'bp': #f74840,
  /* NameClass */ 'nc': #8fbcbb,
  /* NameConstant */ 'no': #8fbcbb,
  /* NameDecorator */ 'nd': #d08770,
  /* NameEntity */ 'ni': #d08770,
  /* NameException */ 'ne': #bf616a,
  /* NameFunction */ 'nf': #88c0d0,
  /* NameFunctionMagic */ 'fm': #1ccad6,
  /* NameLabel */ 'nl': #8fbcbb,
  /* NameNamespace */ 'nn': #8fbcbb,
  /* NameOther */ 'nx': #333333,
  /* NameProperty */ 'py': #8fbcbb,
  /* NameTag */ 'nt': #2b77fa,
  /* NameVariable */ 'nv': #2b77fa,
  /* NameVariableClass */ 'vc': #2b77fa,
  /* NameVariableGlobal */ 'vg': #2b77fa,
  /* NameVariableInstance */ 'vi': #2b77fa,
  /* NameVariableMagic */ 'vm': #2b77fa,
  /* Literal */ 'l': #2aa198,
  /* LiteralDate */ 'ld': #2aa198,
  /* LiteralString */ 's': #a3be8c,
  /* LiteralStringAffix */ 'sa': #a3be8c,
  /* LiteralStringBacktick */ 'sb': #a3be8c,
  /* LiteralStringChar */ 'sc': #a3be8c,
  /* LiteralStringDelimiter */ 'dl': #a3be8c,
  /* LiteralStringDoc */ 'sd': #616e87,
  /* LiteralStringDouble */ 's2': #a3be8c,
  /* LiteralStringEscape */ 'se': #ebcb8b,
  /* LiteralStringHeredoc */ 'sh': #a3be8c,
  /* LiteralStringInterpol */ 'si': #a3be8c,
  /* LiteralStringOther */ 'sx': #a3be8c,
  /* LiteralStringRegex */ 'sr': #ebcb8b,
  /* LiteralStringSingle */ 's1': #a3be8c,
  /* LiteralStringSymbol */ 'ss': #a3be8c,
  /* LiteralNumber */ 'm': #b48ead,
  /* LiteralNumberBin */ 'mb': #b48ead,
  /* LiteralNumberFloat */ 'mf': #b48ead,
  /* LiteralNumberHex */ 'mh': #b48ead,
  /* LiteralNumberInteger */ 'mi': #b48ead,
  /* LiteralNumberIntegerLong */ 'il': #b48ead,
  /* LiteralNumberOct */ 'mo': #b48ead,
  /* Operator */ 'o': #81a1c1,
  /* OperatorWord */ 'ow': #81a1c1,
  /* Comment */ 'c': #616e87,
  /* CommentHashbang */ 'ch': #616e87,
  /* CommentMultiline */ 'cm': #616e87,
  /* CommentSingle */ 'c1': #616e87,
  /* CommentSpecial */ 'cs': #616e87,
  /* CommentPreproc */ 'cp': #5e81ac,
  /* CommentPreprocFile */ 'cpf': #5e81ac,
  /* Generic */ 'g': #e72d40,
  /* GenericDeleted */ 'gd': #bf616a,
  /* GenericEmph */ 'ge': #e72d40,
  /* GenericError */ 'gr': #bf616a,
  /* GenericHeading */ 'gh': #88c0d0,
  /* GenericInserted */ 'gi': #a3be8c,
  /* GenericOutput */ 'go': #e72d40,
  /* GenericPrompt */ 'gp': #4c566a,
  /* GenericStrong */ 'gs': #e72d40,
  /* GenericSubheading */ 'gu': #88c0d0,
  /* GenericTraceback */ 'gt': #bf616a,
  /* TextWhitespace */ 'w': #bbbbbb,
);
