<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="{{ site.encoding }}" />
  <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}" />
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <title>{% if page.title %} {{ page.title }} › {% endif %}{{ site.title }}</title>
  <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url}}" />
  <link href="//opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet" />
  <link href="{{ '/basic.css' | prepend: site.baseurl }}" rel="stylesheet" />
  <link href="{{ '/highlight.css' | prepend: site.baseurl }}" rel="stylesheet" />
  <link href="{{ '/index.css' | prepend: site.baseurl }}" rel="stylesheet" />
  {% if page.graphs %}
  <link href="{{ '/lib/css/c3.min.css' | prepend: site.baseurl }}" rel="stylesheet" />
  <link href="{{ '/lib/css/chart.css' | prepend: site.baseurl }}" rel="stylesheet" />
  <script type="text/javascript" src="{{ '/lib/js/jquery.min.js' | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ '/lib/js/d3.min.js' | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ '/lib/js/visitorChart.js' | prepend: site.baseurl }}"></script>
  {% endif %}
  {% feed_meta %}
  <script type="text/javascript">var appInsights=window.appInsights||function(config){function i(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s="AuthenticatedUserContext",h="start",c="stop",l="Track",a=l+"Event",v=l+"Page",y=u.createElement(o),r,f;y.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(y);try{t.cookie=u.cookie}catch(p){}for(t.queue=[],t.version="1.0",r=["Event","Exception","Metric","PageView","Trace","Dependency"];r.length;)i("track"+r.pop());return i("set"+s),i("clear"+s),i(h+a),i(c+a),i(h+v),i(c+v),i("flush"),config.disableExceptionTracking||(r="onerror",i("_"+r),f=e[r],e[r]=function(config,i,u,e,o){var s=f&&f(config,i,u,e,o);return s!==!0&&t["_"+r](config,i,u,e,o),s}),t}({instrumentationKey:"d13c1f06-98bb-45e2-bd17-e023b959129f"});window.appInsights=appInsights;appInsights.trackPageView();</script>
</head>
<body>
<header>
  <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>{% for node in site.pages offset: 1 %}{% if node.title %}<li><a href="{{ node.url | prepend: site.baseurl }}"{% if page.url == node.url %} class="selected"{% endif %}>{{ node.title }}</a></li>{% endif %}{% endfor %}
      <li><a href="{{ site.baseurl }}/feed.xml">Feed</a></li>
      <li><a href="{{ site.baseurl }}/collection.opml">Reading List</a></li>
    </ul>
  </nav>
</header>
{{ content }}
<footer>
  <span><a href="{{ site.url }}">{% if page.author %}{{ page.author }}{% else %}{{site.author}}{% endif %}</a></span>
  <span>{% for link_hash in site.links %}{% for link in link_hash %}<a href="{{ link[1].url }}" target="_blank"><i class="fa fa-{{ link[0] }}{% if link[1].square %}-square{% endif %}"></i></a>{% endfor %}{% endfor %}</span>
  <span>© {{ site.time | date: "%Y" }}</span>
</footer>
</body>
</html>