---
layout: blank
---
<main>
  <article class="{% if site.style.articles == 'stripe' %}light{% else %}{{ site.style.articles }}{% endif %}">
    <header>
      <h2><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
      <span>{% if page.author %}{{ page.author }} • {% endif %}{% if page.date %}<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% endif %}{% if page.categories and {{page.categories}} != empty %} • {{ page.categories | array_to_sentence_string }}{% endif %}{% if page.tags and {{page.tags}} != empty %} • {{ page.tags | array_to_sentence_string }}{% endif %}</span>
    </header>
    <div>
{{ content }}
    </div>
    {% if site.comments.disqus and page.comments %}
    <section class="share">
      <h3>Share</h3>
      <a aria-label="Share on Twitter" href="https://twitter.com/intent/tweet?text=&quot;{{ page.twitter_text }}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.twitter_username }}&hashtags={% for tag in page.tags %}{{tag}},{% endfor %}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share on Twitter">
        <i class="fa fa-twitter-square"></i>
      </a>
      <a aria-label="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url=http://developer.linkedin.com&title=LinkedIn%20Developer%20Network&summary=My%20favorite%20developer%20program&source=LinkedIn" onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;" title="Share on LinkedIn">
        <i class="fa fa-linkedin-square"></i>
      </a>
      <a aria-label="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share on Facebook">
        <i class="fa fa-facebook-square"></i>
      </a>
      <a aria-label="Share on Google Plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Share on Google+">
        <i class="fa fa-google-plus-square"></i>
      </a>
    </section>
    {% endif %}
    {% if site.comments.isso and page.comments %}
    <div id="isso-thread"></div>
    {% endif %}
    {% if site.comments.disqus and page.comments %}
    <div id="page_uri" value="{{ page.url | prepend: site.baseurl }}" style="display: none;">&nbsp;</div>
    <div id="page_title" value="{{ page.title }}" style="display: none;">&nbsp;</div>
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <script type="text/javascript" src="{{ '/lib/js/disqus.js' | prepend: site.baseurl }}"></script>
    {% endif %}
  </article>
</main>
