---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="posts" class="inner-post-page">

    {% include menu.html %}

    <div class="block-right">
      <div class="share-buttons">
        {% include share.html %}
      </div>
      <a href="{{ site.url }}/posts" title="posts" class="posts-menu-icon"></a>
      <a title="{{ site.url }}/projects" class="projects-menu-icon">
        <span></span>
      </a>
      <div class="inner-post content">
        <div class="date-highlight">{% if page.date %}{{ page.date | date: "%a, %b %d, %Y" }}{% else %}&#x2756;{% endif %}</div>
        {{ content }}
        <br>
        {% include share.html %}
        {% include page-pagination.html %}
      </div>
    </div>
    {% include scripts.html %}
    {% include overlay.html %}
</body>
</html>
